
@{
    ViewBag.Title = "Index";
}

<!-- Hero -->

<section class="hero">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <a class="hero-brand" href="@Url.Action("Index","Home")" title="Home"><img class="img-fluid" alt="CSC Logo" src="~/assets/img/csc font.png" /></a>
            </div>
        </div>

        <div class="col-md-12">
            @*<h1>
                A theme with personality
            </h1>

            <p class="tagline">
                This is a powerful theme with some great features that you can use in your future projects.
            </p>*@
            <a class="btn btn-full" href="#about">Get Started Now</a>
        </div>
    </div>

</section>
<!-- /Hero -->
<!-- Header -->
<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <a href="index.html"><img src="~/assets/img/CSClogo.png" alt="" title="" /></a>
            <!-- Uncomment below if you prefer to use a text image -->
            <!--<h1><a href="#hero">Bell</a></h1>-->
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li><a href="#about">About Us</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#publications">Publications</a></li>
                <li><a href="#team">Hierarchy</a></li>
                <li><a href="#partnership">Partnership</a></li>
                @*<li class="menu-has-children">
                    <a href="">Drop Down</a>
                    <ul>
                        <li><a href="#">Drop Down 1</a></li>
                        <li class="menu-has-children">
                            <a href="#">Drop Down 2</a>
                            <ul>
                                <li><a href="#">Deep Drop Down 1</a></li>
                                <li><a href="#">Deep Drop Down 2</a></li>
                                <li><a href="#">Deep Drop Down 3</a></li>
                                <li><a href="#">Deep Drop Down 4</a></li>
                                <li><a href="#">Deep Drop Down 5</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Drop Down 3</a></li>
                        <li><a href="#">Drop Down 4</a></li>
                        <li><a href="#">Drop Down 5</a></li>
                    </ul>
                </li>*@
                <li><a href="#contact">Contact Us</a></li>
            </ul>
        </nav>
        <!-- #nav-menu-container -->

        <nav class="nav social-nav pull-right d-none d-lg-inline">
            <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
        </nav>
    </div>
</header>
<!-- #header -->
<!-- About -->

<section class="about" id="about">
    <div class="container text-center">
        <h2>
            Cyber Security Centre, DIU
        </h2>

        <p>
            It is a non-profitable organization which is focused on applied research in cyber security intending to retain cyber crime.
            Our initiatives include security awareness programs, seminars, training sessions, information security innovation projects and cyber security services for private & public sectors.
        </p>

        <div class="row stats-row">
            <div class="stats-col text-center col-md-3 col-sm-6">
                <div class="circle" style="padding-top:64px">
                    <span class="stats-no" data-toggle="counter-up">232</span> Researches
                </div>
            </div>

            <div class="stats-col text-center col-md-3 col-sm-6">
                <div class="circle" style="padding-top:64px">
                    <span class="stats-no" data-toggle="counter-up">79</span> Projects
                </div>
            </div>

            <div class="stats-col text-center col-md-3 col-sm-6">
                <div class="circle" style="padding-top:64px">
                    <span class="stats-no" data-toggle="counter-up">1,463</span> Trainings
                </div>
            </div>

            <div class="stats-col text-center col-md-3 col-sm-6">
                <div class="circle" style="padding-top:37px">
                    <span class="stats-no" data-toggle="counter-up">15</span> Seminars <br />&amp;<br /> Workshops
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /About -->
<!-- Call to Action -->

<section class="cta">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-sm-12 text-lg-left text-center">
                <h2>
                    Click to Register
                </h2>

                <p>
                    We provide vendor certiification on different cyber security based trainings.
                </p>
            </div>

            <div class="col-lg-3 col-sm-12 text-lg-right text-center">
                <a class="btn btn-ghost" href="#">Register</a>
            </div>
        </div>
    </div>
</section>
<!-- /Call to Action -->
<!-- services -->
<section class="services" id="services">
    <div class="container">
        <h2 class="text-center">
            Services
        </h2>

        <div class="row">
            <div class="feature-col col-md-3 col-xs-12">
                <div class="card card-block text-center">
                    <div>
                        <div class="feature-icon">
                            <span class="fa fa-bug"></span>
                        </div>
                    </div>

                    <div>
                        <h3>
                            Web Application Security Assessment
                        </h3>

                        <p>
                            Eque feugiat contentiones ei has. Id summo mundi explicari his, nec in maiorum scriptorem.
                        </p>
                    </div>
                </div>
            </div>

            <div class="feature-col col-md-3 col-xs-12">
                <div class="card card-block text-center">
                    <div>
                        <div class="feature-icon">
                            <span class="fa fa-key"></span>
                        </div>
                    </div>

                    <div>
                        <h3>
                            Vulnerability Testing
                        </h3>

                        <p>
                            Eque feugiat contentiones ei has. Id summo mundi explicari his, nec in maiorum scriptorem.
                        </p>
                    </div>
                </div>
            </div>

            <div class="feature-col col-md-3 col-xs-12">
                <div class="card card-block text-center">
                    <div>
                        <div class="feature-icon">
                            <span class="fa fa-code"></span>
                        </div>
                    </div>

                    <div>
                        <h3>
                            Penetration Testing
                        </h3>

                        <p>
                            Eque feugiat contentiones ei has. Id summo mundi explicari his, nec in maiorum scriptorem.
                        </p>
                    </div>
                </div>
            </div>
            <div class="feature-col col-md-3 col-xs-12">
                <div class="card card-block text-center">
                    <div>
                        <div class="feature-icon">
                            <span class="fa fa-cogs"></span>
                        </div>
                    </div>

                    <div>
                        <h3>
                            Information<br /> System Audit
                        </h3>

                        <p>
                            Eque feugiat contentiones ei has. Id summo mundi explicari his, nec in maiorum scriptorem.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Features -->
<!-- Portfolio -->

<section class="publications" id="publications">
    <div class="container text-center">
        <h2>
            Publications
        </h2>

        <p>
            Voluptua scripserit per ad, laudem viderer sit ex. Ex alia corrumpit voluptatibus usu, sed unum convenire id. Ut cum nisl moderatius, Per nihil dicant commodo an.
        </p>
    </div>

    <div class="portfolio-grid">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-block">
                    <a href="#">
                        <img alt="" src="~/assets/img/csc_black.png">
                        <div class="portfolio-over">
                            <div>
                                <h3 class="card-title">
                                    The Dude Rockin'
                                </h3>

                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-block">
                    <a href="#">
                        <img alt="" src="~/assets/img/csc_red.png">
                        <div class="portfolio-over">
                            <div>
                                <h3 class="card-title">
                                    The Dude Rockin'
                                </h3>

                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-block">
                    <a href="#">
                        <img alt="" src="~/assets/img/csc_black.png">
                        <div class="portfolio-over">
                            <div>
                                <h3 class="card-title">
                                    The Dude Rockin'
                                </h3>

                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-block">
                    <a href="#">
                        <img alt="" src="~/assets/img/csc_red.png">
                        <div class="portfolio-over">
                            <div>
                                <h3 class="card-title">
                                    The Dude Rockin'
                                </h3>

                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-block">
                    <a href="#">
                        <img alt="" src="~/assets/img/csc_red.png">
                        <div class="portfolio-over">
                            <div>
                                <h3 class="card-title">
                                    The Dude Rockin'
                                </h3>

                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-block">
                    <a href="#">
                        <img alt="" src="~/assets/img/csc_black.png">
                        <div class="portfolio-over">
                            <div>
                                <h3 class="card-title">
                                    The Dude Rockin'
                                </h3>

                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-block">
                    <a href="#">
                        <img alt="" src="~/assets/img/csc_red.png">
                        <div class="portfolio-over">
                            <div>
                                <h3 class="card-title">
                                    The Dude Rockin'
                                </h3>

                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-block">
                    <a href="#">
                        <img alt="" src="~/assets/img/csc_black.png">
                        <div class="portfolio-over">
                            <div>
                                <h3 class="card-title">
                                    The Dude Rockin'
                                </h3>

                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Portfolio -->
<!-- Team -->

<section class="team" id="team">
    <div class="container">
        <h2 class="text-center">
            Organizational Hierarchy
        </h2>

        <div class="row">
            <div class="col-sm-3 col-xs-6">
                <div class="card card-block">
                    <a href="#">
                        <img alt="" class="team-img" src="img/team-1.jpg">
                        <div class="card-title-wrap">
                            <span class="card-title">Sergio Fez</span> <span class="card-text">Art Director</span>
                        </div>

                        <div class="team-over">
                            <h4 class="hidden-md-down">
                                Connect with me
                            </h4>

                            <nav class="social-nav">
                                <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
                            </nav>

                            <p>
                                Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                            </p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-sm-3 col-xs-6">
                <div class="card card-block">
                    <a href="#">
                        <img alt="" class="team-img" src="img/team-2.jpg">
                        <div class="card-title-wrap">
                            <span class="card-title">Sergio Fez</span> <span class="card-text">Art Director</span>
                        </div>

                        <div class="team-over">
                            <h4 class="hidden-md-down">
                                Connect with me
                            </h4>

                            <nav class="social-nav">
                                <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
                            </nav>

                            <p>
                                Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                            </p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-sm-3 col-xs-6">
                <div class="card card-block">
                    <a href="#">
                        <img alt="" class="team-img" src="img/team-3.jpg">
                        <div class="card-title-wrap">
                            <span class="card-title">Sergio Fez</span> <span class="card-text">Art Director</span>
                        </div>

                        <div class="team-over">
                            <h4 class="hidden-md-down">
                                Connect with me
                            </h4>

                            <nav class="social-nav">
                                <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
                            </nav>

                            <p>
                                Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                            </p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-sm-3 col-xs-6">
                <div class="card card-block">
                    <a href="#">
                        <img alt="" class="team-img" src="img/team-4.jpg">
                        <div class="card-title-wrap">
                            <span class="card-title">Sergio Fez</span> <span class="card-text">Art Director</span>
                        </div>

                        <div class="team-over">
                            <h4 class="hidden-md-down">
                                Connect with me
                            </h4>

                            <nav class="social-nav">
                                <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
                            </nav>

                            <p>
                                Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Team -->
<!-- /Partnership-->
<section class="partnership" id="partnership">
    <div class="container">
        <h2 class="text-center">Partnership</h2>
    </div>
</section>
<!-- /Partnership-->
<!-- footer -->

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="section-title">Contact Us</h2>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-4">
                <div class="info">
                    <div>
                        <i class="fa fa-map-marker"></i>
                        <p>102/1,<br /> Shukrabad, Mirpur Road,<br /> Dhaka-1207, Bangladesh</p>
                    </div>

                    <div>
                        <i class="fa fa-envelope"></i>
                        <p>cscdiu@daffodilvarsity.edu.bd</p>
                    </div>

                    <div>
                        <i class="fa fa-phone"></i>
                        <p>+880123456789</p>
                    </div>

                </div>
            </div>

            <div class="col-lg-5 col-md-8">
                <div class="form">
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validation"></div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>

<footer class="site-footer">
    <div class="bottom">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-xs-12 text-lg-left text-center">
                    <p class="copyright-text">
                        © Cyber Security Centre, DIU
                    </p>
                    <p class="credits">
                        Designed by <a href="#">mipeal</a>
                    </p>
                </div>

                <div class="col-lg-8 col-xs-12 text-lg-right text-center">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="@Url.Action("Index","Home")">Home</a>
                        </li>

                        <li class="list-inline-item">
                            <a href="#about">About Us</a>
                        </li>

                        <li class="list-inline-item">
                            <a href="#services">Services</a>
                        </li>

                        <li class="list-inline-item">
                            <a href="#publications">Publications</a>
                        </li>

                        <li class="list-inline-item">
                            <a href="#team">Hierarchy</a>
                        </li>

                        <li class="list-inline-item">
                            <a href="#partnership">Partnership</a>
                        </li>

                        <li class="list-inline-item">
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</footer>


<a class="scrolltop" href="#"><span class="fa fa-angle-up"></span></a>